NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# dont enable proxy in dev, but turn on in test and prod
NEXT_PUBLIC_ENABLE_CLERK_PROXY=

NEXT_PUBLIC_API_URL=

#per neon branch
DATABASE_URL=

# Shared password gate, only for Test Environment
SITE_ACCESS_PASSWORD=
SESSION_SECRET=